<div class='mobile-client'>
  <h1>{{name}}</h1>
  <input id='search' type='text' placeholder='Search for songs...'
         autofocus='autofocus'/>
  <div id='search-results'>

  </div>

  {{#with playing}}
  <div class='now-playing'>
    <a href="{{uri}}">
      <h3>{{title}} - {{artist}}</h3>
    </a>
    {{score}}
  </div>
  {{/with}}

  <ul id='request-list'></ul>
</div>
