<div class='mobile-header'>
  <h3>{{name}}</h3>
  <input id='search' type='text' placeholder='Search for songs...'
          autofocus='autofocus' autocomplete='off' />
  <ul id='search-results'></ul>
</div>

{{#if previous}}
  {{#with previous}}
  <div class='previous track-item'>
    <img class='album-art' src='{{album_art}}' />
    <div class='meta'>
      <div class='votes'>Last Played</div>
      <p class='track-title'>{{title}}</p>
      <p class='track-artist'>{{artist}}</p>
    </div>
  </div>
  {{/with}}
{{/if}}

{{#if playing}}
  {{#with playing}}
  <div class='now-playing track-item'>
    <img class='album-art' src='{{album_art}}' />
    <div class='meta'>
      <div class='votes'>Now Playing</div>
      <p class='track-title'>{{title}}</p>
      <p class='track-artist'>{{artist}}</p>
    </div>
  </div>
  {{/with}}
{{/if}}

<div class='request-divider'>Up Next</div>
<ul id='request-list'></ul>
