<li>
  <a class='search-result' data-uri='{{uri}}' data-source='{{source}}'
    data-title='{{title}}' data-artist='{{artist}}' href="#">
    {{title}}
    {{#if artist}}
      ({{artist}})
    {{/if}}
  </a>
</li>
