<li class='search-result' data-uri='{{uri}}' data-source='{{source}}'
 data-title='{{title}}' data-artist='{{artist}}' data-art='{{album_art}}'>
  <img class='album-art' src='{{album_art}}' />
  <div class='meta'>
    <p class='track-title'>{{title}}</p>
    {{#if artist}}
    <p class='track-artist'>{{artist}}</p>
    {{/if}}
  </div>
</li>
