<li class='track-item admin'>
  <img class='album-art' src='{{album_art}}' />
  <div class='meta'>
    <div class='duration'>{{duration}}</div>
    <p class='track-title'>
      {{title}} 
      <span class='track-artist'>{{#if artist}}, {{artist}} {{/if}}</span>
    </p>
    <p class='listen'>
      <img class='listen-icon' src='/img/{{source}}.png' />
      Listen on {{source}}
    </p>
  </div>
</li>
